/******************************************
/* HOT GARBAGE - PLEASE DON'T MIMIC THIS CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
  font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
}

/******************************************
/* LAYOUT
/*******************************************/
body {
  background-image: url('../img/chantal-garnier-910GanwBoew-unsplash.jpg');
  background-size: 200%;
  background-repeat: no-repeat;
  background-position: -725px -50px;
}
h1{
  text-align: center;
  color: white;
  background-color: #196f46;
  width: 50%;
  margin: 15px auto;
  border-radius: 5px;
  border: 2px solid #df771c
}
button{
  display: block;
  margin: 20px auto;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
section {
  width: 50%;
}

#firstSect, #secondSect {
  margin-top: 15px;
}


#firstSect *{
  display: flex;
  justify-content: end;
}

#secondSect *{
  display: flex;
  justify-content: start;
}

#thirdSect *{
  display: flex;
  justify-content: end;
}

#fourthSect *{
  display: flex;
  justify-content: start;
}

main {
  border: 2px solid #df771c;
  width: 60%;
  margin: 25px auto;
  text-align: center;
  background-color: #edf1f2;
  border-radius: 5px;
}

#notes {
  border: 2px solid #df771c;
  background-color: #edf1f2;
  width: 60%;
  margin: 0 auto;
  margin-bottom: 25px;
  padding: 15px;
  border-radius: 5px;
}

input, textarea {
  margin: 5px;
}

textarea {
  width: 350px;
  height: 100px;
}

section:first-of-type {
  width: 40%;
}
section:nth-of-type(2) {
  width: 60%;
}

section:nth-of-type(3) {
  width: 40%;
}

section:last-of-type {
  width: 60%;
}

form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#firstSect > label {
  margin: 10px 0 12px 0;
}

span {
  display: inline-block;
  width: 100%;
}

#thirdSect > label {
  margin: 10px 0 12px 0;
}
#thirdSect > label:first-of-type {
  margin-top: 10px;
  margin-bottom: 85px;
}

#thirdSect > label:nth-of-type(3) {
  margin-top: 10px;
  margin-bottom: 85px;
}

